$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

$btn-background: #8F8E8F;
$form-background: #F8F8F8;
$text-color-grey: #95989A;


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px;
  padding-bottom: 19px;
  font-size: 22px;
}

.header {
  margin: 0 5%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/*
 * CUSTOM CSS BEGINS HERE
 */
h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 60px;
 }

h4 {
  color: $text-color-grey;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  h4 {
    color: black;
  }
  p {
    font-style: italic;
  }
  .foodtype {
    font-size: 20px;
    color: $text-color-grey;
    text-align: right;
  }
}

a:hover {
  text-decoration: none;
}

.text-grey {
  color: #B5B5B5;
}

.text-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.text-margin-left {
  margin-left: auto;
}

.container {
  min-height: 74vh;
}
button {
  background-color: $btn-background;
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 0;
  .btn-custom {
    font-size: 30px;
    height: 65px;
    padding: 14px 30px;
    width: 80%;
    margin: 0 10%;
  }
  .btn-small {
    width: 20%;
    margin: 0 10%;
  }
}

.btn-add {
  font-size: 30px;
  height: 65px;
  padding: 14px 30px;
}

#add-donation {
  margin-bottom: 65px;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
}

.form-control {
  background: #F8F8F8;
  height: 65px;
  width: 80%;
  margin: 0 10%;
  font-size: 30px;
  padding-left: 40px;
  border-radius: 0;
  border-color: #FFF;
}
.donation-box {
  background-color: $form-background;
  height: 65px;
  font-size: 30px;
  border-radius: 0;
  border-style: none;
  border-color: #FFF;
}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

/* Responsive: Portrait After Mobile Large and up */
@media screen and (min-width: 426px) {
  .header {
    margin: 0 16%;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}