$blue-light: rgb(20, 207, 232);
$blue: #394969;

$red: rgb(255, 30, 64);

$grey-x-light: #f8f8f8;
$grey-light: #ebebeb;
$grey: #909090;
$grey-dark: #4b4c4e;

$yellow: rgb(247, 179, 43);
$white: rgb(255, 255, 255);
