$font-small-thin: 10px;
$font-small: 14px;
$font-small-thick: 16px;

$font-medium-thin: 20px;
$font-medium: 24px;
$font-medium-thick: 28px;

$font-large-thin: 30px;
$font-large: 36px;
$font-large-thick: 40px;

$font-huge-thin: 50px;
$font-huge: 60px;
$font-huge-thick: 70px;

$open-sans: 'Open Sans', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;
$montserrat: 'Montserrat', sans-serif;
