/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    background: url("../assets/tomato.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/*
 * CUSTOM CSS BEGINS HERE
 */

.text-grey {
    color: #564946;
}

.text-flex {
    display: flex;
}

.text-header {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #558564;
    font-size: 50px;
    line-height: 65px;
}

.text-margin-left {
    margin-left: auto;
}

.btn-custom {
    color: #8F8F8F;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    padding: 14px 150px;
}

.text-lead {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: #564946;
    font-size: 18px;
    text-align: center;
    line-height: 15px;
    margin-bottom: 5%;
}

p {
    font-family: 'Lato', Georgia, Times, serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: white;
}

.text-body {
    padding-bottom: 7%;
}

.appstore {
    display: block;
    width: 270px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}