@import "../base/colors.css";

.bg-blue-light {
	background: $blue-light;
}
.bg-blue {
	background: $blue;
}
.bg-red {
	background: $red;
}
.bg-grey-light {
	background: $grey-light;
}
.bg-grey {
	background: $grey;
}
.bg-yellow {
	background: $yellow;
}
.bg-white {
	background: $white;
}
