.bg-blue-light {
	background-color: $blue-light;
}
.bg-blue {
	background-color: $blue;
}
.bg-red {
	background-color: $red;
}
.bg-grey-x-light {
	background-color: $grey-x-light;
}
.bg-grey-light {
	background-color: $grey-light;
}
.bg-grey-dark {
	background-color: $grey-dark;
}
.bg-grey-dark__gradient {
	background-image: radial-gradient(circle at 67% 75%, #686868, #3b3d40);
}
.bg-yellow {
	background-color: $yellow;
}
.bg-white {
	background-color: $white;
}
