@import "../config/colors.css";

.text-grey-dark {
	color: $grey-dark;
}
.text-grey {
	color: $grey;
}
.text-white {
	color: white;
}
.text-black {
	color: black;
}
.text-yellow {
	color: $yellow;
}
.text-red {
	color: $red;
}
.text-blue-light {
	color: $blue-light;
}
.text-center{
	text-align: center;
}
.text-right {
	text-align: right;
}
.uppercase {
	text-transform: uppercase;
}
