.text-grey {
	color: #3c3d41;
}
.text-lightgrey {
	color: #cfcfcf;
}
.text-white {
	color: white;
}
.text-white a:visited {
	color: white;
}
.text-black {
	color: black;
}
.text-black a:visited {
	color: black;
}
.text-yellow {
	color: #f7b32b;
}
.text-center{
	text-align: center;
}
.text-right {
	text-align: right;
}
.uppercase {
	text-transform: uppercase;
}
