/* Generic Classes */
.pointer-cursor {
	cursor: pointer;
}
.relative {
	position: relative;
}
.hidden {
	display: none;
}
.flex-grow-1 {
	flex-grow: 1;
}
.flex-grow-3 {
	flex-grow: 3;
}
.flex-end {
	align-self: flex-end;
}
.flex-row {
	display: flex;
	vertical-align: top;
}
.flex {
  display: flex;
}
