.becomeA {
	@mixin flex *, flex-start, *, space-around;
	position: relative;

	& .arrow {
		align-self: center;

		& img {
			margin: 0 5px;
			@mixin square 45px;
		}
	}

	& section {
		@mixin flex column, flex-start, *, center;
		margin: 50px 0;
		padding: 0 5px;
		max-width: 600px;
		min-height: 761px;

		& .title {
      font-size: $font-large-thick;
			letter-spacing: -2px;
		}

    & div {
      margin-bottom: 40px;
    }
	}

	& .appstore {
		display: none;
		@mixin absolute 10%, 11%, *, *;
	}

	& .app-sample {
		display: none;
		margin-top: 50px;
    @mixin bg-img '/images/Food-Drivr-Driver-iphone.png';
		@mixin rect 490px, 638px;
	}
}

@media screen and (min-width: 768px) {
	.becomeA {
		& .arrow img {
			@mixin square 50px;
		}

		& section {
			min-height: 450px;
      & .title {
        font-size: $font-huge-thin;
      }
		}
	}
}

@media screen and (min-width: 1024px) {
	.becomeA {
		& .arrow img {
			@mixin square 60px;
		}
	}
}

@media screen and (min-width: 1440px) {
	.becomeA {
		& .arrow,
		& .appstore,
		& .app-sample {
			display: block;
		}

		& section {
      justify-content: flex-start;
			padding: 0 50px;
			& p {
				font-size: $font-medium-thin;
			}
		}
	}
}
