.intro {
  @mixin flex column, center, *, *;
  height: calc( 100vh - 6rem);
}
.intro__truck-white {
  @mixin bg-img '/images/fd-logo.svg';
  @mixin square 40px;
  margin: auto;
}
.intro__food-drivr {
	letter-spacing: 3.3px;
}
.intro__powered {
  display: none;
  font-size: $font-small-thin;
	line-height: 3px;
	letter-spacing: 2.8px;
}
.intro__title {
  margin: 1rem;
  font-weight: bold;
  font-size: $font-large;
  max-width: 60rem;
}
.intro__content {
  font-family: $pt-serif;
  font-size: $font-small-thick;
  line-height: 1.11;
  max-width: 40rem;
  padding: 0 2rem;
  p:first-child,
  p:last-child {
    display: none;
  }
}
.intro__scrolldown {
  font-size: $font-small-thin;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
  p {
    margin-bottom: .5rem;
  }
}
.intro__scrolldown:hover {
	animation: bobbing 0.2s infinite ease-in-out forwards alternate;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 10px;
  }
  .intro__powered {
    display: block;
    font-size: $font-small;
  }
  .intro__title {
		max-width: 900px;
		font-size: $font-huge-thin;
    padding: 10px 0;
	}
	.intro__content {
		font-size: $font-medium-thin;
    p:first-child,
    p:last-child {
      display: block;
    }
	}
}
@media screen and (min-width: 1024px) {
	.intro__title {
		font-size: $font-huge;
	}
}
@media screen and (min-width: 1440px) {
	.intro__title {
		font-size: $font-huge-thick;
	}
}
