@import "../../components/buttons.css";

.intro {
	@mixin flex column, *, *, *;
	height: calc( 100vh - 6rem);
	& .truck-white {
		background: url("/images/fd-logo.svg") no-repeat;
		@mixin square 50px;
		margin: auto;
	}

	& .powered {
		font-size: $font-small;
	}

	& .title {
		margin: 1rem auto;
		font-weight: bold;
		font-size: $font-large-thick;
		max-width: 20rem;
	}

	& .content {
		max-width: 35rem;
		margin: auto;
		padding: 0 2rem;
	}

	& .scrolldown {
		font-size: $font-small-thin;
	  margin-bottom: 1rem;
	  letter-spacing: 2px;
	  font-weight: bold;
	}

  & footer p {
    margin-bottom: .5rem;
  }
}

@media screen and (min-width: 768px) {
	.intro {
		& .title {
			max-width: 900px;
			font-size: $font-huge;
		}

		& .content {
			font-size: $font-medium-thin;
		}
	}
}
@media screen and (min-width: 1440px) {
	.intro{
		& .title {
			font-size: $font-huge-thick;
		}
	}
}
