@import "../../utils/mixins.css";
@import "../../base/fonts.css";

.intro {
	@mixin flex column, *, *, *;
	height: calc( 100vh - 120px);
	& .truck-white {
		background: url("/images/fd-logo.svg") no-repeat;
		@mixin square 50px;
		margin: auto;
	}

	& .powered {
		font-size: $font-small;
	}

	& .title {
		margin: 25px auto;
		font-weight: bold;
		font-size: $font-large-thick;
		max-width: 300px;
	}

	& .content {
		max-width: 530px;
		margin: auto;
		font-size: $font-small-thick;
		padding: 0 20px;
	}

	& .scrolldown {
		font-size: $font-small-thin;
	    margin-bottom: 20px;
	    letter-spacing: 2px;
	    font-weight: bold;
	}
}

@media screen and (min-width: 768px) {
	.intro {
		& .title {
			max-width: 900px;
			font-size: $font-huge;
		}

		& .content {
			font-size: $font-medium-thin;
		}
	}
}
@media screen and (min-width: 1440px) {
	.intro{
		& .title {
			font-size: $font-huge-thick;
		}

		& .content {
			font-size: $font-medium;
		}
	}
}
