body {
	width: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#App {
	height: 100vh;
}

a:hover,
a:focus {
	text-decoration: none;
	color: white;
	outline: none;
}

h1 {
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 60px;
}

h4 {
	color: black;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Generic Classes */
.pointer-cursor {
	cursor: pointer;
}

.source-sans {
	font-family: 'Source Sans Pro', sans-serif;
}

.text-grey {
	color: #3c3d41;
}

.text-lightgrey {
	color: #cfcfcf;
}

.text-white {
	color: white;
}

.text-white a:visited {
	color: white;
}

.text-black {
	color: black;
}

.text-black a:visited {
	color: black;
}

.text-yellow {
	color: #f7b32b;
}

.text-center{
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-margin-left {
	margin-left: auto;
}

.text-flex {
	display: flex;
}

.invisible-btn {
	display: none;
}

.btn-only-text {
	border: none;
    background: transparent;
}

.btn-only-text:focus {
	outline: none;
}

/* Main content */
.container {
	width: 100%;
	min-height: 100%;
	max-width: 1450px;
	padding: 0;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}

.blue-background {
	background: #394969;
}

.red-background {
	background: rgb(255, 30, 64);
}

.lightgrey-background {
	background: #ebebeb;
}

.yellow-background {
	background: rgb(247, 179, 43);
}

.lightblue-background {
	background: rgb(20, 207, 232);
}

/* Header Section */
.header {
	margin: 45px auto 10px;
	width: 90%;
	max-width: 1000px;
	min-height: 55px;
}

.donation-header {
    margin-bottom: 50px;
    width: 100%;
    min-height: 110px;
    background: #f8f8f8;
    box-shadow: 0 4px 4px 0 rgba(228, 228, 228, 0.5);
}

.donation-header-user {
	margin-right: 200px;
    margin-top: 30px;
}

.header h3 {
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 8px 0;
}

.back-button {
	background-image: url("/images/back-arrow.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 55px;
	cursor: pointer;
}

.truck-button {
	background-image: url("/images/food-drivr-logo-grey.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 55px;
	margin-left: 200px;
    margin-top: 30px;
}

.hide-menu {
	display: none;
}

.user-container {
	position: relative;
}

.user-menu-container {
	top: 66px;
    position: absolute;
    right: calc( 50% - 70px);
    text-align: right;
    background: #ff1e40;
    padding: 12px;
    width: 140px;
    border-style: solid;
    font-size: 16px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 10px, rgba(0, 0, 0, 0.219608) 0px 0px 7px;
    z-index: 99;
}

.user-menu-container>a {
	display: block;
}

.user-menu-arrow {
	width: 20px;
    height: 20px;
    position: absolute;
    background: #ff1e40;
    top: -11px;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(45deg);
    right: calc( 50% - 14px);
    border-top-style: solid;
    border-left-style: solid;
    border-width: 1px;
}

.user-info {
	margin-right: 20px;
    margin-top: 18px;
}

.user-avatar>img {
	border-radius: 50%;
    width: 55px;
}

.logout {
	border-top-style: solid;
    border-width: 1px;
    margin-top: 10px;
    padding-top: 5px;
}

/* Homepage Elements */
.homepage {
	position: relative;
	width: 100%;
}

.fd-logo {
	margin: 10px;
}

.homepage-intro {
	position: relative;
	margin-top: 50px;
	width: 100%;
	height: calc( 100vh - 135px);
}

.homepage-logotitle {
	margin-bottom: 15px;
	font-size: 15px;
}

.homepage-powered {
	width: 160px;
	margin: auto;
	font-size: 13px;
}

.homepage-title {
	margin: 35px auto;
	font-weight: bold;
	font-size: 40px;
	max-width: 300px;
}

.homepage-content {
	max-width: 530px;
	margin: auto;
	font-size: 13px;
	padding: 0 20px;
}

.button-container {
	margin: 35px 0;
}

.button-home {
	font-size: 20px;
	color: white;
	padding: 10px 55px;
	background-color: #ff1e40;
	border-radius: 25px;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 10px, rgba(0, 0, 0, 0.219608) 0px 0px 7px;
}

.homepage-scrolldown {
	font-size: 10px;
    margin-bottom: 20px;
    position: absolute;
    width: 100%;
    bottom: 1%;
    letter-spacing: 2px;
    font-weight: bold;
}

/* How It works Section*/
.homepage-howto {
	background: white;
	padding: 100px 0 50px;
}

.howto-divtitle {
	font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
}

.howto-title {
	font-weight: bold;
	font-size: 52px;
  	letter-spacing: -2px;
}

.howto-div>p {
	font-size: 18px;
    line-height: 1.1;
    color: #70767a;
}

.howto-content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 30px;
}

.howto-img {
	margin: 20px;
}

.howto-div {
	padding: 20px;
	width: 100%;
}

/* Become a Driver Section */
.homepage-becomedriver {
	display: flex;
	position: relative;
	padding-top: 55px;
	background: #4b4c4e;
	min-height: 700px;
}

.becomedriver-content {
	width: 65%;
	margin: auto;
	display: flex;
    flex-direction: column;
}

.becomedriver-content p {
	font-size: 18px;
}

.becomedriver-title {
	font-weight: bold;
	font-size: 40px;
	letter-spacing: -2px;
}

.becomedriver-img {
	display: none;
	background-image: url("/images/Food-Drivr-Driver-iphone.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 37%;
	background-position: center bottom;
}

.becomedriver-arrow {
	position: relative;
	width: 40px;
	margin: 0 5px;
}

.becomedriver-arrow img {
	position: absolute;
	top: 38%;
	width: 100%;
}

.becomedriver-appStoreIcon {
	display: none;
	position: absolute;
	top: 10%;
	right: 11%;
}

/* Comments Section */
.homepage-comments {
	background: #14cfe8;
	padding: 150px 0 20px;
}

.comments-container p {
	width: 70%;
	margin: auto;
	font-size: 20px;
}

.comments-container {
	height: 280px;
}

.comments-author {
	font-size: 16px;
	margin: 60px 0 10px;
}

.comments-company {
	font-size: 12px;
}

.comments-dots {
	margin-top: 60px;
}

.bullet {
	display: inline;
	font-size: 45px;
	margin: 0 10px;
}

.bullet:before {
	content: "•";
}

.active-bullet:before{
	content: "◦";
}

/* Contacts Section */
.homepage-contacts {
	padding: 55px 15% 0;
	font-size: 20px;
}

.homepage-contacts p {
	max-width: 400px;
	margin: 50px 0;
}

.email{
	display: inline;
	border-bottom: 1px solid #FFF;
	padding-bottom: 3px;
	font-size: 13px;
}

.contacts-social {
	display: block;
}

.social-icon {
	margin: 20px 10px 0 0;
}

.copyright {
	margin: 50px 0 30px;
	font-size: 10px;
}

/*************************************************************/
/*                       SIGNUP STYLE                        */
/*************************************************************/
.signup-container {
	min-height: calc(100vh - 135px);
}

.signup-container p{
	padding: 80px 0;
	font-size: 30px;
}

.btn-signup {
	display: block;
	background: transparent;
	border: none;
	margin: auto;
	font-size: 25px;
	margin-top: 10px;
}

.btn-signup:focus {
	outline: none;
}

/*************************************************************/
/*                         SIGNIN                            */
/*************************************************************/
.signin {
	min-height: calc(100vh - 135px);
	padding: 50px 0;
	background-color: #ff1e40;
}

/*************************************************************/
/*                       DONATION                            */
/*************************************************************/

.btn-donation {
	width: 65px;
    height: 56px;
    cursor: pointer;
    background: transparent;
    border: none;
    background-image: url('/images/add-button.svg');
    background-repeat: no-repeat;
}

.btn-del-donation {
	width: 60px;
    height: 56px;
    cursor: pointer;
    background: transparent;
    border: none;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
    background-image: url('/images/remove-button.svg');
}

.btn-donate {
	width: 46%;
    height: 70px;
    background-color: #f7bd4b;
    border: none;
    color: white;
    font-size: 24px;
    margin: 50px auto;
    display: block;
}

.btn-disabled {
	opacity: .5;
	cursor: default;
}

.btn-donation:focus,
.new-donation-input:focus,
.btn-del-donation:focus,
.btn-donate:focus {
	outline: none;
}

.donation-container {
	width: 50%;
    margin: auto;
}

.donation-list {
	height: 47vh;
    overflow-x: hidden;
    margin-top: 20px;
}

/*.new-donation-input {
	height: 55px;
    border: none;
    padding-left: 15px;
    margin-right: 45px;
    letter-spacing: 0.9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background: transparent;
    border-bottom: solid 2px #b0aeae;
    color:  #202020;
}*/

.new-donation-title,
.donated-name {
	width: 100%;
}

.donated-item {
	margin-top: 30px;
}

.donated-name {
	padding-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 0.9px;
    color: #202020;
    font-family: 'Open Sans', sans-serif;
}


/*************************************************************/
/*                         FOOTER                            */
/*************************************************************/
.footer {
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
	text-align: center;
}

.footer a:hover{
	text-decoration: underline;
}

/*************************************************************/
/*                         ANIMATIONS                        */
/*************************************************************/

.appear-enter {
	transition-duration: 1s;
	transition-property: opacity;
	opacity: 0;
}

.appear-enter.appear-enter-active {
	opacity: 1;
}

.appear-leave {
	opacity: 0;
	display: none;
}

/*************************************************************/
/*                     MEDIA QUERIES                         */
/*************************************************************/
@media screen and (min-width: 314px) and (min-height: 1080px) {
	.homepage-title {
		margin: 50px auto;
	}

	.homepage-content {
		font-size: 20px;
	}
}

/* Responsive: Portrait After Mobile Large and up */
@media screen and (min-width: 426px) {
	.howto-title {
		font-size: 48px;
	}

	.signup-container p{
		font-size: 35px;
	}
}

@media screen and (min-width: 426px) and (min-height: 1080px) {
	.homepage-content {
		font-size: 22px;
	}

	.button-container {
		margin: 60px auto;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.homepage-intro {
		margin-top: 0;
		height: calc( 100vh - 95px);
	}

	.homepage-logotitle {
		font-size: 18px;
	}

	.homepage-powered {
		font-size: 14px;
	}

	.homepage-title {
		font-size: 60px;
		max-width: 900px;
	}

	.homepage-content {
		font-size: 18px;
	}

	.howto-div {
		padding: 7%;
		width: 33%;
	}

	.becomedriver-arrow {
		width: 74px;
   		margin: 0 20px;
	}

	.comments-container p {
		width: 60%;
	}

	.comments-container {
		height: 260px;
	}

	.email {
		font-size: 20px;
	}
}

@media screen and (min-width: 768px) and (min-height: 1080px) {

	.homepage-content {
		font-size: 25px;
	}

	.button-container {
		margin: 80px auto;
	}
}

/* Responsive: Laptop and up */
@media screen and (min-width: 1024px) {
	.homepage-title {
		font-size: 70px;
		max-width: 900px;
	}

	.button-home {
		padding: 10px 77px;
	}

	.comments-container p {
		width: 40%;
	}

	.homepage-becomedriver {
		padding-top: 70px;
	}

	.becomedriver-title {
		font-size: 32px;
	}

	.becomedriver-arrow,
	.becomedriver-appStoreIcon,
	.becomedriver-img{
		display: block;
	}

	.becomedriver-content {
		width: 40%;
		padding:0 50px;
	}

	.comments-container {
		height: 220px;
	}

	.homepage-contacts {
		padding: 55px 25% 0;
	}

	.donation-input-container,
	.past-donations {
		width: 50%;
	}

	.donation-input {
		width: 85%;
		font-size: 20px;
	}

	.btn-add-donation {
		width: 15%;
	}
}

@media screen and (min-width: 1200px) {
	.homepage-becomedriver {
		padding-top: 100px;
	}

	.becomedriver-title {
		font-size: 42px;
	}

	.becomedriver-img {
		background-size: auto 100%;
	}
}

/* 4k and up not yet fully supported */
@media screen and (min-width: 2560px) {
	.homepage-content {
		font-size: 25px;
	}
}


.donor-profile-container {
	min-height: calc(100vh - 135px);
	text-align: center;
}

/* Donor dashboard / profile */
.donor-avatar-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.donor-avatar-frame{
	border: 2px solid #fff;
}
.donor-avatar-frame,.donor-avatar-frame img{
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px; /* Saf3+, Chrome */
	border-radius: 50px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
		margin: auto;
	}

/**
 * The geosuggest module
 */
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	border: none;
	border-bottom: 1px solid #fff;
}


.geosuggest__bar {
	position: relative;
	display: block;
	width: 300px;
}


.geosuggest__bar:before, .geosuggest__bar:after {
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:#5264AE;
	transition:0.2s ease all;
}

.geosuggest__bar:before {
 left:50%;
}

.geosuggest__bar:after {
  right:50%;
}

.geosuggest__group {
	position: relative;
	margin-bottom: 45px;
}

.geosuggest__input:focus {
	outline: none;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid rgb(0, 188, 212);
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}
