body {
	width: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#App {
	height: 100vh;
}

a {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

h1 {
	font-size: 46px;
	font-weight: bold;
}

h4 {
	color: black;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Generic Classes */
.pointer-cursor {
	cursor: pointer;
}

.relative {
	position: relative;
}

.hidden {
	display: none;
}

.source-sans {
	font-family: 'Source Sans Pro', sans-serif;
}

.text-grey {
	color: #3c3d41;
}

.text-lightgrey {
	color: #cfcfcf;
}

.text-white {
	color: white;
}

.text-white a:visited {
	color: white;
}

.text-black {
	color: black;
}

.text-black a:visited {
	color: black;
}

.text-yellow {
	color: #f7b32b;
}

.text-center{
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-flex {
	display: flex;
}

.invisible-btn {
	display: none;
}

.btn-only-text {
	border: none;
    background: transparent;
}

.btn-only-text:focus {
	outline: none;
}

.uppercase {
	text-transform: uppercase;
}
.btn-round {
	padding: 10px 55px;
	border-radius: 25px;
	font-size: 20px;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 10px, rgba(0, 0, 0, 0.219608) 0px 0px 7px;
}
.btn-red {
	color: white;
	background-color: #ff1e40;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-grow-3 {
	flex-grow: 3;
}

.fontSize-small {
	font-size: 13px;
}

.fontSize-medium {
	font-size: 16px;
}
/* Main content */
.container {
	width: 100%;
	min-height: 100vh;
	max-width: 1450px;
	margin: auto;
	padding: 0;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}

.container::before,
.container::after {
	display: table;
    content: " ";
}

.bg-blue {
	background: #394969;
}
.bg-red {
	background: rgb(255, 30, 64);
}
.bg-lightgrey {
	background: #ebebeb;
}
.bg-yellow {
	background: rgb(247, 179, 43);
}
.bg-lightblue {
	background: rgb(20, 207, 232);
}
.bg-white {
	background: rgb(255, 255, 255);
}

/* Header Section */
.header {
	width: 90%;
	max-width: 1000px;
	margin: 30px auto 20px;
	justify-content: space-between;
	align-items: center;
}
.header h3 {
	font-size: 22px;
}
.header--donation {
	width: 100%;
	max-width: 1450px;
	min-height: 110px;
    margin: 0;
    background: #f8f8f8;
    box-shadow: 0 4px 4px 0 rgba(228, 228, 228, 0.5);
}
.header--donation-userName {
	margin-right: 15%;
}
.header--donation-truck {
	background-image: url("/images/food-drivr-logo-grey.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 55px;
	height: 55px;
	margin-left: 15%;
}
/* Probably needs renaming since it is reused multiple times in different scenarios */
.header-appstore {
	width: 135px;
	height: 40px;
	background: url("/images/App-Store-Badge.png");
	background-repeat: no-repeat;
}
.header-back {
	background-image: url("/images/back-arrow.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 55px;
	height: 55px;
}
.header-userName {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	letter-spacing: 4px;
	font-weight: bold;
	line-height: 70px;
}
.header-menu {
	top: 50px;
	position: absolute;
	right: 0;
	text-align: right;
	background: white;
	padding: 12px;
	width: 200px;
	font-size: 16px;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 10px, rgba(0, 0, 0, 0.219608) 0px 0px 7px;
	border: solid 1px #979797;
	z-index: 99;
}
.header-menu a {
	display: block;
}
.header-menuArrow {
	width: 20px;
    height: 20px;
    position: absolute;
    background: white;
	border-top: solid 1px #979797;
	border-left: solid 1px #979797;
	top: -11px;
	right: 20%;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
    transform: rotate(45deg);
	box-shadow: -2px -2px 4px -1px rgba(0,0,0,0.2);
}
.header-menuItem {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	letter-spacing: 4px;
    margin-bottom: 20px;
	text-transform: uppercase;
}
.header-logout {
	border-top-style: solid;
	border-width: 2px;
	border-color: #979797;
	margin-top: 10px;
	padding: 12px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	letter-spacing: 4px;
	font-weight: bold;
	text-transform: uppercase;
}

/* Homepage Elements */
.intro {
	display: flex;
	flex-direction: column;
	height: calc( 100vh - 120px);
}
.intro-truckWhite {
	background: url("/images/fd-logo.svg");
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin: auto;
}
.intro-powered {
	font-size: 13px;
}
.intro-title {
	margin: 35px auto;
	font-weight: bold;
	font-size: 40px;
	max-width: 300px;
}
.intro-content {
	max-width: 530px;
	margin: auto;
	font-size: 15px;
	padding: 0 20px;
}
.intro-scrolldown {
	font-size: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* How It works Section*/
.howItWorks {
	display: flex;
	flex-direction: column;
	padding: 50px 0 80px;
}
.howItWorks-title {
	font-weight: bold;
	margin: 40px 0;
	font-size: 46px;
  	letter-spacing: -2px;
	text-transform: capitalize;
}
.howItWorks-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 30px;
}
.howItWorks-section {
	padding: 20px;
	max-width: 350px;
}
.howItWorks-section header {
	font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
}
.howItWorks-section>p {
	font-size: 18px;
    line-height: 1.1;
    color: #70767a;
}
.howItWorks-img {
	margin: 20px;
}

/* Become a Driver Section */
.becomeA {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;;
	position: relative;
	background: #4b4c4e;
}
.becomeA-arrow {
	align-self: center;
}
.becomeA-arrow img {
	margin: 0 5px;
	width: 40px;
}
.becomeA-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 50px 0;
	padding: 0 5px;
	max-width: 600px;
	min-height: 761px;
}
.becomeA-section p {
	font-size: 18px;
}

.becomeA-title {
	letter-spacing: -2px;
}
.becomeA-appstore {
	display: none;
	position: absolute;
	top: 10%;
	right: 11%;
}
.becomeA-img {
	display: none;
	margin-top: 50px;
	background-image: url("/images/Food-Drivr-Driver-iphone.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 638px;
	width: 490px;
}

/* Comments Section */
.comments {
	background: #14cfe8;
	padding: 150px 0 20px;
}
.comment-container p {
	width: 70%;
	margin: auto;
	font-size: 20px;
}
.comment-container {
	height: 280px;
}
.comment-author {
	font-size: 16px;
	margin: 60px 0 10px;
}
.comment-company {
	font-size: 12px;
}
.comments-dots {
	margin-top: 60px;
}
.bullet {
	display: inline;
	font-size: 45px;
	margin: 0 10px;
}
.bullet:before {
	content: "•";
}
.bullet-active:before{
	content: "◦";
}

/* Contacts Section */
.contacts {
	padding: 55px 15% 0;
	font-size: 20px;
}
.contacts p {
	max-width: 400px;
	margin: 50px 0;
}
.contacts-email{
	display: inline;
	border-bottom: 1px solid #FFF;
	padding-bottom: 3px;
	font-size: 13px;
}
.social-icon {
	margin: 20px 10px 0 0;
}
.copyright {
	margin: 50px 0;
	font-size: 10px;
}

/*************************************************************/
/*                       SIGNUP STYLE                        */
/*************************************************************/
.signup-container {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
.signup-container h1 {
	margin-bottom: 50px;
}
.signup-or {
	font-size: 36px;
}
.signup-selection {
	display: flex;
	flex-direction: column;
	font-size: 25px;
}
.signup-selection>*{
	cursor: pointer;
}
.signup-form {
	width: 90%;
	max-width: 350px;
}

/*************************************************************/
/*                         SIGNIN                            */
/*************************************************************/
.signin {
	min-height: calc(100vh - 135px);
	padding: 50px 0;
	background-color: #ff1e40;
}
.signin form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*************************************************************/
/*                       DONATION                            */
/*************************************************************/
.donations {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.donations-title {
	font-size: 40px;
}
.donation {
	width: 90%;
}
.donateItem {
	display: flex;
	justify-content: center;
	font-size: 16px;
}
.btn-addDonation {
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: transparent;
	border: none;
	background-image: url('/images/add-button.svg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.btn-delDonation {
	width: 60px;
    height: 56px;
    cursor: pointer;
    background: transparent;
    border: none;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
    background-image: url('/images/remove-button.svg');
}
.btn-donate {
	width: 70%;
	max-width: 350px;
	height: 70px;
	background-color: #f7bd4b;
	border: none;
	color: white;
	font-size: 24px;
	margin: 50px auto;
	display: block;
}

.btn-disabled {
	opacity: .5;
	cursor: default;
}

.btn-delDonation:focus,
.btn-donate:focus,
.btn-addDonation:focus {
	outline: none;
}



.donation-list {
	height: 45vh;
    overflow-x: hidden;
    margin-top: 20px;
}

.new-donation-title,
.donated-name {
	width: 100%;
}

.donated-item {
	margin-top: 30px;
}

.donated-name {
	padding-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 0.9px;
    color: #202020;
    font-family: 'Open Sans', sans-serif;
}

/*************************************************************/
/*                         THANK YOU                         */
/*************************************************************/
.thankyou {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.thankyou-text {
	max-width: 500px;
	width: 80%;
	margin-bottom: 25px;
	font-size: 20px;
	font-family: "OpenSans", sans-serif;
	letter-spacing: 1px;
}
.thankyou-header {
	font-family: "OpenSans", sans-serif;
	text-transform: uppercase;
	margin: 40px 0 0;
}
.thankyou-truck {
	background-image: url("/images/food-drivr-logo.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 55px;
	height: 55px;
	margin: auto;
}
.thankyou-start {
	width: 46%;
	max-width: 300px;
	min-width: 200px;
    height: 70px;
    background-color: white;
    border: none;
    color: rgb(247, 179, 43);
    font-size: 24px;
    display: block;
}

/*************************************************************/
/*                         FOOTER                            */
/*************************************************************/
.footer {
	position: absolute;
	bottom: 15px;
	height: 30px;
	width: 100%;
	text-align: center;
}

.footer a:hover{
	text-decoration: underline;
}

/*************************************************************/
/*                         ANIMATIONS                        */
/*************************************************************/

.appear-enter {
	transition-duration: 1s;
	transition-property: opacity;
	opacity: 0;
}

.appear-enter.appear-enter-active {
	opacity: 1;
}

.appear-leave {
	opacity: 0;
	display: none;
}

/*************************************************************/
/*                     MEDIA QUERIES                         */
/*************************************************************/
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.intro-title {
		max-width: 900px;
		font-size: 60px;
	}
	.intro-content {
		font-size: 17px;
	}
	.howItWorks-content {
		flex-direction: row;
	}
	.becomeA-arrow img {
		width: 50px;
	}
	.becomeA-section {
		min-height: 450px;
	}
	.comment-container p {
		width: 60%;
	}
	.comment-container {
		height: 260px;
	}
	.contacts-email {
		font-size: 20px;
	}
	.donateItem-input {
		line-height: 2.1 !important;
		font-size: 20px !important;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 52px;
	}
	.becomeA-arrow img {
		width: 60px;
	}
	.donateItem-input {
	    line-height: 2 !important;
	    font-size: 22px !important;
	}
}

/* Responsive: Laptop and up */
@media screen and (min-width: 1440px) {
	.intro-title {
		font-size: 70px;
	}
	.intro-content {
		font-size: 22px;
	}
	.btn-round {
		padding: 10px 77px;
	}
	.becomeA-arrow,
	.becomeA-appstore,
	.becomeA-img{
		display: block;
	}
	.becomeA-section {
		padding:0 50px;
	}
	.comment-container p {
		width: 40%;
	}
	.comment-container {
		height: 220px;
	}
	.contacts {
		padding: 55px 25% 0;
	}
	.thankyou-text {
		font-size: 26px;
	}

	.donation-input-container,
	.past-donations {
		width: 50%;
	}

	.donation-input {
		width: 85%;
		font-size: 20px;
	}

	.btn-add-donation {
		width: 15%;
	}
}









/* user profile dashboard components */
.user-profile-container {
	min-height: calc(100vh - 135px);
}

.user-profile-container p {
	padding: 80px 0;
	font-size: 30px;
}

.user-dashboard-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

/* user dashboard / profile */
.user-avatar-image {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

.user-avatar-frame{
	border: 2px solid #ebebeb;
}
.user-avatar-frame,.user-avatar-frame img{
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px; /* Saf3+, Chrome */
	border-radius: 50px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
		margin: auto;
	}

/**
 * The geosuggest module
 */
.geosuggest {
	font-size: 18px;
	font-size: 1rem;
	position: relative;
	width: 50%;
	margin: 1em auto;
	text-align: left;
}
.geosuggest__input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	border: none;
	border-bottom: 1px solid #fff;
}


.geosuggest__bar {
	position: relative;
	display: block;
	width: 300px;
}

.geosuggest__bar:before, .geosuggest__bar:after {
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:#5264AE;
	transition:0.2s ease all;
}

.geosuggest__bar:before {
	left:50%;
}

.geosuggest__bar:after {
	right:50%;
}

.geosuggest__group {
	position: relative;
	margin-bottom: 45px;
}

.geosuggest__input:focus {
	outline: none;
}
.geosuggest__suggests {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	max-height: 25em;
	padding: 0;
	margin-top: -1px;
	background: #fff;
	border: 2px solid rgb(0, 188, 212);
	border-top-width: 0;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	z-index: 5;
	-webkit-transition: max-height 0.2s, border 0.2s;
					transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
	font-size: 18px;
	font-size: 1rem;
	padding: .5em .65em;
	cursor: pointer;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
	background: #f5f5f5;
}
.geosuggest-item--active {
	background: #267dc0;
	color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
	background: #ccc;
}

/* Customizing the address select field*/
.geosuggest-address-select-field {

}

.toggle-block {
	max-width: 250px;
	margin: 1em;
}

.toggle {
	margin-bottom: 16px;
}

/* Loading indicator */
.fullscreen-loader {
	position: absolute;
	z-index: 999;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
}

.fullscreen-loader .spinner {

}

.error-card-wrapper {

}

.button-inline {
	display:inline-block;
	margin-right:5px;
}

.error-card {
	height: 400px;
	width: 800px;
}

.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Aligner-item {
	max-width: 50%;
}

.Aligner-item--top {
	align-self: flex-start;
}

.Aligner-item--bottom {
	align-self: flex-end;
}

.form-group {
	width: 350px;
}

.giant-title {
	padding: 50px;
}

/* Inner dialog hack for changing the dialog's background color without
 * Changing the screen's background color.  Set as contentClassname on dialog in PasswordForm
 */
.dialog-grey > div:first-child {
	background-color: #ebebeb !important;
}

/* Change color of auto fill */
/* Change the white to any color ;) */
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #FF1E40 inset;
}
