@import "config/fonts.scss";
@import "config/z-indexes.scss";
@import "config/colors.scss";

@import "utils/reset.scss";
@import "utils/mixins.scss";
@import "utils/backgrounds.scss";
@import "utils/animations.scss";
@import "utils/various.scss";
@import "utils/text.scss";

@import "components/button.scss";
@import "components/footer.scss";
@import "components/header.scss";

@import "pages/home.scss";
@import "pages/signin.scss";
@import "pages/signup.scss";
@import "pages/donations.scss";
@import "pages/thankyou.scss";
@import "pages/user-profile.scss";

@import "pages/error-page.scss";
@import "pages/something-went-wrong.scss";

/* Planning on adding CSS MQPacker plugin */
/* Main content */
body {
	width: 100%;
	font-family: $montserrat;
}
* {
  box-sizing: border-box;
}
p {
  margin: 16px auto;
}
.container {
  @extend %clearfix;
	width: 100%;
	min-height: 100vh;
	margin: auto;
	padding: 0;
	position: relative;
}


/* Thanks Cperry!! */
/*
  Temporarily commentig this so it can be tested on actual devices, the new fix
  has been added on .become-a__content class with a width of 65%.
*/
/* html {
	height: 100%;
  width: 100%;
  overflow-x: hidden;
}  */
