.donations {
	width: 90%;
	margin:  30px auto 80px;
}
.donations__form {
  @mixin flex *, *, *, center;
}

.donation {
  @mixin flex column, *, *, *;
}
.donation__item-list {
  overflow-x: hidden;
  max-height: 40vh;
  max-width: 540px;
  width: 95%;
  margin: 0 auto 20px;
}
.donation__item {
	@mixin flex *, flex-end, *, space-between;
}
.donation__item-name {
  margin-top: 15px;
  font-size: $font-small;
  letter-spacing: 0.9px;
  font-family: $open-sans;
}

.donations-history {
  max-width: 550px;
  margin: auto;
}
.donations-history h1 {
  font-family: $open-sans;
  font-size: $font-medium;
  font-weight: 100;
  letter-spacing: 1.2px;
  margin: 20px auto;
}
.donations-history__list {
  font-family: $open-sans;
  li {
    @mixin flex *, *, *, space-between;
    margin-top: 40px;
  }
}
.donations-history__titles {
  max-width: 40%;
  h2 {
    font-weight: 500;
    font-size: $font-medium-thin;
    letter-spacing: 1.2px;
  }
  i {
    font-size: $font-small;
    letter-spacing: 1.2px;
  }
}
.donations-history__items {
  letter-spacing: 1px;
  max-width: 50%;
  font-size: $font-small;
}

.donation-popup section {
  margin: 10px 0;
  font-family: $open-sans;
}
.donation-popup__items-title {
  font-size: $font-medium-thin;
  letter-spacing: 2px;
}
.donation-popup__items-list {
  font-size: $font-small-thick;
  overflow-wrap: break-word;
  max-height: 45px;
  overflow-y: scroll;
  li {
    display: inline;
    letter-spacing: 1px;
  }
  li:not(:last-child):after {
    content: ","
  }
}
.donation-popup__address {
  font-size: $font-small-thick;
  margin: 0;
}
.donation-popup__textarea {
  font-size: $font-small-thick;
  resize: none;
  font-family: $open-sans;
  margin-top: 10px;
  width: 100%;
}
.donation-popup__btn-container {
  @mixin flex row, *, *, space-between;
  button {
    width: 48%;
    min-width: inherit;
    max-width: none;
    height: 50px;
    margin: 10px auto 30px;
  }
}
.donation-popup__btn-donate {
  margin: auto;
}

.btn-addDonation {
  @mixin square 55px;
  @mixin bg-img '/images/add-button.svg';
  @media screen and (max-width: 650px) {
    @mixin square 40px;
  }
}
.btn-delDonation {
  @mixin square 20px;
  @mixin bg-img '/images/delete-item.svg';
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  @media screen and (max-width: 650px) {
    @mixin square 15px;
  }
}
.btn-donate {
  @mixin rect 60%, 50px;
  max-width: 250px;
  margin: 25px auto;
}

/* The color here does not comply with the palette */
.donation-dialog input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
}

@media screen and (min-width: 768px) {
  .donations {
    margin-top: 60px;
  }
  .donations__form {
    >div {
      height: 55px !important;
    }
    div,
    input {
      /* Using !important is highly discouraged. In this case it is the only way to override Material UI inline styling */
      font-size: $font-medium !important;
      line-height: 1.9 !important;
    }
	}
  .donation__item-name {
    font-size: $font-medium-thin;
  }
  .donations-history h1 {
    font-size: $font-large-thin;
  }
  .donations-history__titles h2 {
    font-size: $font-medium-thick;
  }
  .donations-history__items {
    font-size: $font-medium-thin;
  }
  .btn-delDonation {
    @mixin square 25px;
    margin-right: 0;
  }
}
