.signup {
	min-height: 80vh;
	@mixin flex column, center, *, *;
	font-family: $open-sans;

	& h1 {
    font-size: $font-huge-thin;
		margin-bottom: 50px;
	}

	& .or {
		font-size: $font-large;
	}

	& .selection {
		@mixin flex column, *, *, *;
		font-size: $font-medium;
	}

	& .selection>*{
		cursor: pointer;
	}

	& form {
		width: 90%;
		max-width: 350px;
	}
}
