.something-went-wrong__section {
  @mixin flex column, center, *, *;
  margin-top: 100px;
  padding: 0 10px;
  a {
    width: 100%;
  }
}
.something-went-wrong__header {
  font-family: $pt-serif;
  font-weight: bold;
  margin-top: 10px;
  font-size: $font-medium-thick;
  letter-spacing: 3.4px;
}
.something-went-wrong__subheader {
  font-family: $pt-serif;
  margin-top: 10px;
  font-size: $font-medium;
  letter-spacing: 2.2px;
  max-width: 682px;
}
.something-went-wrong__paragraph-container {
  width: 90%;
  max-width: 45rem;
  margin-top: 10px;
  font-family: $open-sans;
  font-size: $font-medium-thin;
  letter-spacing: 1.2px;
}
