.thankyou {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.thankyou-text {
	max-width: 500px;
	width: 80%;
	margin-bottom: 25px;
	font-size: 20px;
	font-family: "OpenSans", sans-serif;
	letter-spacing: 1px;
}
.thankyou-header {
	font-family: "OpenSans", sans-serif;
	text-transform: uppercase;
	margin: 40px 0 0;
}
.thankyou-truck {
	background-image: url("/images/food-drivr-logo.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 55px;
	height: 55px;
	margin: auto;
}
.thankyou-start {
	width: 46%;
	max-width: 300px;
	min-width: 200px;
    height: 70px;
    background-color: white;
    border: none;
    color: rgb(247, 179, 43);
    font-size: 24px;
    display: block;
}
@media screen and (min-width: 1440px) {
	.thankyou-text {
		font-size: 26px;
	}
}
