.user-profile {
	width: 80%;
	max-width: 500px;
	margin: auto;
}
.user-profile-container {
	text-align: center;
	h1 {
		font-family: $pt-serif;
		letter-spacing: 2px;
		font-size: $font-medium-thick;
		padding: 25px;
	}
	p {
		padding: 80px 0;
		font-size: 30px;
	}
}
.user-avatar-image {
	border: 5px solid #ebebeb;
	margin: 10px auto;
	border-radius: 50%;
	@mixin square 150px;
}
.user-dashboard-form {
	@mixin flex column, center, *, *;
	margin: auto;
}
.toggle {
	margin: 30px auto;
}
.profile-button-group {
	@mixin flex row, *, *, center;
    margin: 20px auto 80px;
}
.change-password-reveal span {
	padding: 0 !important;
}
/**
 * The geosuggest module
 */
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__label {
	display: block;
	text-align: center;
	margin: 30px;
}
.geosuggest__input {
  width: 100%;
  margin: auto;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}


/* Loading indicator */
.fullscreen-loader {
	position: absolute;
	z-index: 999;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
}
.error-card {
	height: 400px;
	width: 800px;
}
.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Aligner-item {
	max-width: 50%;
}
.Aligner-item--top {
	align-self: flex-start;
}
.Aligner-item--bottom {
	align-self: flex-end;
}
/* Inner dialog hack for changing the dialog's background color without
 * Changing the screen's background color.  Set as contentClassname on dialog in PasswordForm
 */
.dialog-grey > div:first-child {
	background-color: #ebebeb !important;
}

.update-password {
	h4 {
		text-transform: uppercase;
		font-weight: 100;
	}
}
.update-password__dialog {
	width: 90% !important;
	max-width: 500px !important;
}
.change-password-reveal {
	margin: 50px !important;
	transform: translateY(-30px);
}
.password-form {
	width: 100%;
}
