@import "../utils/mixins.css";

.btn {
  border: none;
  text-transform: uppercase;
  font-size: $font-medium-thin;
  font-weight: bold;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.btn--shadow {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 10px, rgba(0, 0, 0, 0.219608) 0px 0px 7px;
}
.btn--disabled {
  opacity: .5;
  cursor: default;
}
.btn--round {
  padding: 10px 55px;
  border-radius: 25px;
}
