@import "../utils/mixins.css";

.btn {
  border: none;
  text-transform: uppercase;
  font-size: $font-medium-thin;
  font-weight: bold;
  cursor: pointer;
  font-family: $montserrat;
  &:focus {
    outline: none;
  }
}
.btn--shadow {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 10px, rgba(0, 0, 0, 0.219608) 0px 0px 7px;
}
.btn--disabled {
  opacity: .5;
  cursor: default;
}
.btn--round {
  padding: 10px 55px;
  border-radius: 25px;
}
.btn-rect--hover {
  @mixin rect 80%, 70px;
  margin: 30px 0 60px;
  max-width: 350px;
  min-width: 200px;
  opacity: .5;
  transition: opacity .5s;
  &:hover {
    opacity: 1;
  }
}
.btn-rect {
  @mixin rect 80%, 70px;
  margin: 30px 0;
  max-width: 350px;
  min-width: 200px;
}

@media screen and (min-width: 768px){
  .btn-join-us {
    width: 260px;
  }
}

.button-add {
  @mixin square 30px;
  @mixin bg-img '/images/add-button.svg';
}
