@import "../base/fonts.css";
@import "../base/z-indexes.css";
@import "../utils/mixins.css";

.header {
	width: 90%;
	max-width: 1000px;
	margin: 30px auto 20px;
	@mixin flex *, center, *, space-between;
	font-family: $font-open-sans;
	font-size: $font-medium-thin;

	& .user-name {
		letter-spacing: 4px;
		font-weight: bold;
		line-height: 70px;
	}

	& .back {
		background: url("/images/back-arrow.svg") no-repeat 100%;
		@mixin square 55px;
	}
}
.header-menu {
	@mixin absolute 100%, 0, *, *;
	padding: 12px;
	width: 200px;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 10px, rgba(0, 0, 0, 0.219608) 0px 0px 7px;
	border: solid 1px #979797;
	z-index: $z-index-1;
	& .arrow {
		@mixin square 20px;
		@mixin absolute -11px, 20%, *, *;
		border-top: solid 1px #979797;
		border-left: solid 1px #979797;
	    transform: rotate(45deg);
		box-shadow: -2px -2px 4px -1px rgba(0,0,0,0.2);
	}

	& .item {
		display: block;
		letter-spacing: 4px;
	    margin-bottom: 20px;
		text-transform: uppercase;
	}

	& .logout {
		display: block;
		border: none 2px #979797;
		border-top-style: solid;
		margin-top: 10px;
		padding: 12px 0;
		letter-spacing: 4px;
		font-weight: bold;
		text-transform: uppercase;
	}
}
.header--donation {
	width: 100%;
	max-width: 1450px;
	min-height: 110px;
    margin: 0;
    box-shadow: 0 4px 4px 0 rgba(228, 228, 228, 0.5);
	padding: 0 15%;

	& .truck {
		background: url("/images/food-drivr-logo-grey.svg") no-repeat 100%;
		@mixin square 55px;
	}
}
/* Probably needs renaming since it is reused multiple times in different scenarios */
.header-appstore {
	@mixin rect 135px, 40px;
	background: url("/images/App-Store-Badge.png") no-repeat;
}
