@import "../config/fonts.css";
@import "../config/zIndexes.css";

.header {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  @mixin flex *, center, *, space-between;
  font-family: $open-sans;
  font-size: $font-medium-thin;
}
.header__user-name {
  letter-spacing: 4px;
  font-weight: bold;
}
.header__back {
  @mixin bg-img '/images/back-arrow.svg';
  @mixin square 55px;
  @mixin absolute 50px, *, * , 50px;
}

.header-menu {
  @mixin absolute 50px, 0, *, *;
  padding: 12px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 10px, rgba(0, 0, 0, 0.219608) 0px 0px 7px;
  border: solid 1px #979797;
  z-index: $z-index-1;
  text-transform: uppercase;
}
.header-menu__arrow {
  @mixin square 20px;
  @mixin absolute -11px, 20%, *, *;
  border-top: solid 1px #979797;
  border-left: solid 1px #979797;
  transform: rotate(45deg);
  box-shadow: -2px -2px 4px -1px rgba(0,0,0,0.2);
}
.header-menu__item {
  display: block;
  letter-spacing: 4px;
  margin-bottom: 20px;
  color: inherit;
}
.header-menu__logout {
  display: block;
  border: none 2px #979797;
  border-top-style: solid;
  margin-top: 10px;
  padding: 12px 0;
  letter-spacing: 4px;
  font-weight: bold;
}

.header--donation {
  width: 100%;
  max-width: 1450px;
  min-height: 110px;
  margin: 0;
  box-shadow: 0 4px 4px 0 rgba(228, 228, 228, 0.5);
  padding: 0 15%;
}
.header--donation__truck {
  @mixin bg-img '/images/food-drivr-logo-grey.svg';
  @mixin square 55px;
}
/* Probably needs renaming since it is reused multiple times in different scenarios */
.header__appstore-icon {
  @mixin bg-img '/images/App-Store-Badge.png';
  @mixin rect 135px, 40px;
}
